/public/build/js/app-*.js
/public/build/css/app-*.css
/public/build/js/app.js.map
/public/build/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/css/app.css
/public/css/app.css.map
/public/build/rev-manifest.json
/vendor
/node_modules
.env
.env.php
.env.example
npm-debug.log
coverage.xml
coverage.xml